
:root {
    --dark-bg: #000080;
    --dark-CANVAS:#A9A9A9 ;
    --dark-color: yellow;

    --light-bg: lightgray;
    --light-CANVAS:yellow;

    --light-color:#000080;

    --theme-bg: var(--light-bg);
    --theme-canvas: VAR(--LIGHT-CANVAS, yellow);
    --theme-color: var(--light-color);
    @media (prefers-color-scheme: dark) {
    --theme-bg: var(--dark-bg);
    --theme-canvas: var(--dark-CANVAS);

    --theme-color: var(--dark-color);
    }
}
    
    body {
    background: var(--theme-bg);
    color: var(--theme-color);

}

.hidden {
    position: absolute;
    top: 0px;
    left: 10000px;
    width: 1px;
    overflow:hidden; ;
}
.outer-container {
    width: 100%;
    display: grid;
    place-items:center ;
    
}
.container {
    width: 1900px;
    padding: 0;;
    margin: 0;
    background: var(--theme-canvas, cyan);
}

header, footer {
    width: 100%;
    margin: 5px;
    padding: 5ps;
    display: grid;
    place-content: center;
    background: var(--theme-bg);
    color: var(--theme-color);;
}
.banner {
    font-weight: 700;
    font-size: larger;
}

#theme-toggler {
    font-weight: 300;
    font-size:smaller   ;
}
font-weight:l  
.sub-banner {
    font-weight: 400;
    font-size: large;
}


#status-message {
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;;;
}

.code-button {
    padding: 3px;
    margin: 3px;;
    font-style: 0.8rem;
}
.main {
    width: 100%;
    padding-top: 8px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
    margin: 5px;;
    background: var(--theme-canvas, yellow);
    display: grid;
    place-items: center;
}

.top-section {
    display: block;
width: 800px;
background: var( --theme-bg);
color: var(--theme-color);
}

.cards-container, #cards-container {
    display: grid;
    grid-template-columns:minMax( 450px, 800px)   minMax( 450px, 800px)   minMax( 450px, 800px)  ;
    column-gap: 10px;
}
.card-details{
    margin: 6PX;
    padding: 3PX;
    background: var(--theme-bg);;
}