
:root {
    --dark-bg: #000080;
    --dark-color: yellow;

    --light-bg: lightgray;
    --light-color:#000080;

    --theme-bg: var(--light-bg);
    --theme-color: var(--light-color);
    @media (prefers-color-scheme: dark) {
    --theme-bg: var(--dark-bg);
    --theme-color: var(--dark-color);
    }
}
    
    body {
    background: var(--theme-bg);
    color: var(--theme-color);

}

.hidden {
    position: absolute;
    top: 0px;
    left: 10000px;
    width: 1px;
    overflow:hidden; ;
}
.outer-container {
    width: 100%;
    display: grid;
    place-items:center ;
    
}
.container {
    width: 1000px;
    padding: 0;;
    margin: 0;
}

header, footer {
    width: 100%;
    margin: 5px;
    padding: 5ps;
    display: grid;
    place-content: center;
}
.banner {
    font-weight: 700;
    font-size: larger;
}

#theme-toggler {
    font-weight: 300;
    font-size:smaller   ;
}
font-weight:l  
.sub-banner {
    font-weight: 400;
    font-size: large;
}


#status-message {
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;;;
}

.code-button {
    padding: 3px;
    margin: 3px;;
    font-style: 0.8rem;
}